.header {
    background-color: #ffffff;
    /* padding: 2em; */
    text-align: center;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(18, 18, 18, 0.927);
    padding: 0 2em;
    border-bottom:3px solid rgb(248, 245, 245) ;
  }
  .user-profile .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .heding{
    font-family: Arial;
    margin-left: 5px;
    font-size: 30px;
    font-weight: 600;
    color: #000000;
  }